.about {
  width: 100%;
  padding: 120px 12px;
  color: $white-l;
  @include mq() {
    padding-top: 80px;
    width: 80%;
  }
  @include mq(pc) {
    width: 1048px;
  }
  &__title {
    margin-bottom: 20px;
    font-size: 1.6rem;
    letter-spacing: .5rem;
    @include mq() {
      font-size: 1.8rem;
    }
  }
}
