.contents {
  max-width: 600px;
  padding: 40px 20px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  @include mq() {
    padding: 40px 0 8px;
  }
  &__name {
    margin-bottom: 12px;
    font: {
      size: 1.2rem;
      weight: 200;
    }
    letter-spacing: .6rem;
    color: $black-l;
    @include mq() {
      font-size: 1.8rem;
      letter-spacing: 1.56rem;
    }
  }
  &__mainLogo {
    margin-bottom: 12px;
    width: 100%;
    font: {
      family: "ヒラギノ明朝 ProN", serif;
      weight: 300;
    }
  }
  &__logoBlock {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-around;
    @include mq() {
      justify-content: space-between;
    }
  }
  &__logoChar,
  &__title {
    display: block;
    line-height: 1;
  }
  &__logoChar {
    font-size: 8rem;
    @include mq() {
      font-size: 14rem;
    }
  }
  &__title {
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 1rem;
    @include mq() {
      font-size: 1.6rem;
    }
  }
  &__description {
    margin-bottom: 40px;
    font-size: 1rem;
    @include mq() {
      font-size: 1.4rem;
    }
  }
  &__button {
    display: flex;
    align-items: center;
    font: {
      size: 1.2rem;
      weight: 600;
    }
    font-variant-ligatures: no-common-ligatures;
    letter-spacing: .8rem;
    @include mq() {
      font-size: 1.8rem;
    letter-spacing: 1.2rem;
    }
  }
  &__buttonImg {
    margin: 0 8px;
    width: 40px;
    @include mq() {
      width: 60px;
    }
  }
}
