.contents {
  padding: 40px 20px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  @include mq() {
    padding: 40px 0 8px;
    width: 600px;
  }
  &__name {
    margin-bottom: 12px;
    font: {
      size: 1.2rem;
      weight: 200;
    }
    letter-spacing: .8rem;
    color: $ofi_yellow;
    text-align: center;
    @include mq() {
      margin-bottom: 20px;
      font-size: 1.8rem;
      letter-spacing: 1.56rem;
    }
  }
  &__mainLogo {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: {
      weight: 300;
    }
    color: $ofi_yellow;
    @include mq() {
      margin-bottom: 40px;
    }
  }
  &__logoBlock {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    width: 300px;
    background: {
      image: url(../img/texture.jpg);
      size: cover;
      repeat: no-repeat;
      position: center bottom;
    }
    -webkit-background-clip: text;
    //background-clip: text;
    color: transparent;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    @include mq() {
      width: 532px;
      margin-bottom: 20px;
    }
  }
  &__logoChar,
  &__title {
    display: block;
    line-height: 1;
  }
  &__logoChar {
    font-size: 8rem;
    @include mq() {
      font-size: 14rem;
    }
  }
  &__title {
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 1rem;
    @include mq() {
      font-size: 1.6rem;
    letter-spacing: 2rem;
    }
  }
  &__info {
    margin-bottom: 60px;
    font-style: normal;
  }
  &__text {
    margin-bottom: 4px;
    color: $ofi_yellow;
    text-align: center;
    &:last-child {
      margin-bottom: 0;
    }
    @include mq() {
      display: flex;
      justify-content: center;
      font-size: 1.2rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__textBlock {
    margin-bottom: 2px;
    display: block;
    &:last-child {
      margin-bottom: 0;
    }
    @include mq() {
      margin: 0 20px 0 0;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__descWrapper {
    margin-bottom: 20px;
    width: 100%;
  }
}
