html {
  font-size: 62.5%;
}

body {
  font: {
    family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
    weight: 100;
  }
  color: $black-m;
}
